[Unit]
Description="Run auto_update service"

[Service]
Type=simple
#User=admin

### ENV
Environment=RELEASE_TAG=latest
Environment=AUTO_UPDATE_SERVICE=true
Environment=REPOS_GROUP=czech-radio
Environment=REPO_NAME=openmedia-archive
Environment=BINARY_NAME=openmedia-archive
Environment=MAIN_COMMAND='./openmedia-archive -v'

### Loging
SyslogIdentifier=openmedia-archive
#StandardInput=null
StandardOutput=journal
StandardError=journal

### Exec
WorkingDirectory=%h/services/openmedia_archive/
# %h - user home directory
ExecStart=%h/services/openmedia_archive/run.sh ServiceServe
# ExecStart must be fullpath (a bit annoying, but secure). Maybe add run script to PATH.

#LogNamespace (not on debian 10)
#SplitMode (not on debian 10)
#PrivateUsers 

# maybe split update service to use ExecStartPre
#ExecStartPre
#ExecStartPost

[Install]
WantedBy=default.target
